/* Global Defaults */
html, body {
  height: 100%;
}
a {
  cursor: pointer;
}

/* Navbar */
.navbar {
  border-radius: 0;
  background: #fff;
  border-bottom: 0;
}
.navbar li a {
  border-bottom: 3px solid transparent;
}
.navbar-nav > li:hover,
.navbar-nav > li > a:hover {
  background: transparent;
}

.nav a:hover {
  color: #000;
  border-bottom: 3px solid #000;
}
.navbar .glyphicon,
button .glyphicon {
  margin-right: 7px;
}
.searchbox {
  width: 200px;
}
.searchbox input {
  border-radius: 4em;
}
.searchbox button {
  border-radius: 4em;
}
.icon-bar {
  background: #000;
}

/* Style medium scaled devices */
@media (min-width: 992px) {
  .searchbox input {
    width: 300px!important;
  }
}
@media (max-width: 767px) {
  .navbar-nav > li > a {
    text-align: center;
  }
  .navbar .glyphicon {
    float: left;
  }
  
  .menuinputsformd .navbar-form {
    display: inline-block;
    text-align: left;
  }
  .menuinputsformd .navbar-form:nth-child(1) {
    float: right;
  }
  .menuinputsformd input {
    padding: 3px 12px;
    height: inherit;
  }
}
@media (min-width: 767px) {
  .navbar-collapse.collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
}

/* Style small scaled devices */
@media (max-width: 430px) {
  .menuinputsformd .navbar-form {
    display: block;
    float: none;
  }
  .searchbox {
    width: 100%;
  }
  .menuinputsformd .btn-group,
  .menuinputsformd .btn-group button {
    display: block;
    width: calc(100vw - 32px);
  }
  .menuinputsformd .btn-group .dropdown-menu {
    position: relative;
    width: calc(100vw - 32px);
  }
}

/* Container */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/mikethedj4/GPSLink/gh-pages/background/pexels-photo-141557.jpeg");
/*  background: url("https://raw.githubusercontent.com/mikethedj4/GPSLink/gh-pages/background/pexels-photo-141557.jpeg");*/
  background-position: 0, 50%;
  background-size: auto, cover;
}
.mvu1 {
  position: relative;
  z-index: 1;
}

/* Misc */
.scrollToTop {
  color: #000;
}
.scrollToTop:hover {
  text-decoration: none;
}
.formLoadIndicator {
  margin-left: 0.5em;
}

/* Preloader */
.spinnerbg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(255,255,255,0.5);
  z-index: 2;
}
.spinner {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -17px auto -17px auto;

  border: 2px solid rgba(0,0,0,0.5);
  border-top-color: transparent;
  border-radius: 100%;

  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.spinner:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 0;
  height: 0;

  border: 4px solid transparent;
  border-bottom-color: rgba(0,0,0,0.5);

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  to { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
  to { -o-transform: rotate(360deg); }
}
@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Variable Classes */
